@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');

* {
  margin: 0;
  padding: 0;
  font-family: 'Manrope', sans-serif;
  box-sizing: border-box;
}

html {
  min-width: 375px;
  max-width: 1440px;
  margin: auto;
}

body {
  width: 90%;
  margin: auto;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: hsl(210, 46%, 95%);
}

.card {
  margin-top: 3em;
  background-color: rgb(255, 255, 255);
  border-radius: 10px;
  box-shadow: 0em 0.5em 0.5em rgba(0, 0, 0, 0.118);
  position: relative;
  width: 340px;
  margin-bottom: 2em;
}

.cover img {
  width: 100%;
  border-radius: 10px 10px 0 0;
}

.desc {
  padding: 2em 2em 1em 2em;
}

h1 {
  font-size: 1.05em;
  font-weight: 700;
  color: hsl(217, 19%, 35%);
}

p {
  font-size: 0.9em;
  font-weight: 500;
  line-height: 1.5em;
  padding: 1em 0;
  color: hsl(214, 17%, 51%);
}

.profile {
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
  margin-top: 1em;
}

.image-profile {
  width: 35px;
  border-radius: 50px;
  margin-right: 1em;
}

h2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  font-size: 0.8em;
  font-weight: 700;
  color: hsl(217, 19%, 35%);
  flex: 1;
}

span {
  color: hsl(214, 17%, 51%);
  font-weight: 500;
}

button {
  padding: 0.5em;
  border-radius: 50px;
  background-color: hsl(210, 46%, 95%);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  border: none;
  object-fit: contain;
  cursor: pointer;
}

/* active state */

.share {
  background-color: hsl(217, 19%, 35%);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: start;
  padding: 1.2em 2em;
  border-radius: 0 0 10px 10px;
  position: absolute;
  width: 340px;
  bottom: 0;
}

.share p {
  letter-spacing: 0.4em;
  color: hsla(210, 46%, 95%, 0.529);
  text-transform: uppercase;
  margin-right: 1em;
  padding: 0;
}

.icons {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 1em;
  flex: 1;
}

.active-state {
  display: none;
}

@media screen and (min-width: 992px) {
  .card {
    display: grid;
    grid-template-columns: 40% 60%;
    width: 650px;
    height: 280px;
    margin-top: 0;
  }

  .cover img {
    display: flex;
    width: 250px;
    height: 280px;
    border-radius: 10px 0 0 10px;
    object-fit: cover;
    object-position: left;
  }

  .desc {
    padding: 1.5em;
  }

  h1 {
    font-size: 1.25em;
  }

  .profile {
    margin-top: 0;
  }

  .share {
    bottom: 5.5em;
    right: -5em;
    width: min-content;
    border-radius: 10px;
  }

  #share-btn-2 {
    display: none;
  }

  .triangle {
    display: flex;
    width: 0;
    height: 0;
    border-left: 18px solid transparent;
    border-right: 18px solid transparent;
    border-top: 20px solid hsl(217, 19%, 35%);
    /* border-top: 20px solid pink; */
    position: absolute;
    top: 3.7em;
    left: 6.8em;
  }
}
